body {
  margin: 0;
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

.login-tooltip .el-popper__arrow {
  left: auto !important;
  right: 25px !important;
}
