* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  padding: 10px;
  background: transparent;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  user-select: none;
  overflow: hidden;
  font-weight: 100;
  #app {
    visibility: hidden;
  }
}

.login-tooltip .el-popper__arrow {
  left: auto !important;
  right: 25px !important;
}

.el-loading-mask {
  -webkit-app-region: drag;
}

#popup-in,
input,
button {
  -webkit-app-region: no-drag;
}

a {
  text-decoration: none;
}

.el-button {
  &.el-button--primary {
    box-shadow: 0 10px 10px -8px #7844e6d4 !important;
  }
  &.el-button--warning {
    box-shadow: 0 10px 10px -8px #e6a23cd4 !important;
  }
}
