// base color
$dark-blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$yellow: #fec171;

// sidebar
// $menuText: #bfcbd9;

// :export 指令用于 webpack 打包
// :export {
//   menuText: $menuText;
// }
